body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    background: #111;
}

nav {
    background: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    padding: 0 20px;
    font-size: 16px;
}

.logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-size: 20px;
}

.burger {
    display: none;
}

@media screen and (max-width: 768px) {
    .nav-links {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    
    .nav-links a {
        padding: 10px;
    }

    .burger {
        display: block;
    }

    .nav-active {
        transform: translateX(0);
    }
}



.burger div {
    width: 25px; /* Width of each line */
    height: 3px; /* Height of each line */
    background: white;
    margin: 0 auto; /* Center lines horizontally */
    transition: all 0.3s ease;
}


.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
